@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro|Roboto+Slab);
.container {
  display: flex;
  background-color: #7E9EBF;

}

header {
  background-color: #657E99;
  height: 60px;

}

ul {
  padding-left: 175px;


}

li {
  display: inline;
}

span {
  position: absolute;
  top: 10;
  padding-left: 10px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 26px;

}

.article {
  font-family: 'Roboto Slab', sans-serif;
  color: black;
  font-size: 26px;
  padding-bottom: 10px;
  display: list-item;
}

.block {
  display: inline-block;
}

nav a {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

nav a:hover {
  font-style: italic;
}

nav a:visited {
  color: black;
}

ol a {
  color: black;
  text-decoration: underline;

}

ol a:hover {
  background-color: #657E99;
}

.comments {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: bolder;
  padding-bottom: 20px;
}

.title {
  padding-bottom: 3px;
}

.other {
  padding-bottom: 10px;
}

.navList {
  text-align: center;
}
